@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h4,
h5,
h6 {
    font-weight: inherit;
    font-family: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: 'Old Standard TT';
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
}

.header {

    height: 80px;
    width: 100%;
    background-color: #181511;
}

main {
    flex: 1 1 auto;
}

.header__container {
    display: flex;
    text-align: justify;
    align-items: center;
    padding: 25px 0 25px 0;
}

.header__logo {
    padding-right: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFAE2B;


}

.header__menu {
    display: flex;
    gap: 40px;
}

.header__link a {
    color: #ACA592;
}

.header__link a:hover {
    color: #FFAE2B;
    transition: 2s, linear;
}



.header__link {
    text-align: justify;
    align-items: center;
}

.header__buy {
    border: 2px solid #FFAE2B;
    width: 147px;
    height: 52px;
    margin-left: 400px;
}

.header__buy {
    border: 2px solid #ACA592;
    width: 147px;
    height: 52px;
    margin-left: 400px;
}

.header__btn {
    display: flex;
    color: #ACA592;
    padding: 15px 0 15px 0;
    justify-content: center;

}

.header__buy:hover {
    border: 2px solid #FFAE2B;
    width: 147px;
    height: 52px;
    margin-left: 400px;
    transform: 2s, liner;
}

.header__btn:hover {
    display: flex;
    color: #FFAE2B;
    padding: 15px 0 15px 0;
    justify-content: center;
    transform: 2s, liner;

}

.main__back {
    background: url("../img/backgraund.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.main__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 120px;
}

.WeAre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;

}

.WeAre__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #FFAE2B;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.description {}

.description__text {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.layoyts {
    margin-top: 60px;
    width: 143px;
    height: 50px;
    background-color: #FFAE2B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layoyts__btn {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: #181511;
    text-align: center;
    text-transform: uppercase;
}

.pages {
    background-color: #181511;
    padding-top: 120px;
}

.our {}

.our__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ACA592;
}

.tempalete__text {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #FFAE2B;
    padding-bottom: 60px;
}

.template__pages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

.project__text {
    font-style: normal;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    /* identical to box height, or 177% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.project__img {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pages__project {
    width: 387px;
    height: 315px;
    border: 2px solid #FFFFFF;
}

.backimg {
    width: 100%;
    padding-top: 115px;
}

.service__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #ACA592;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 160px;
}

.service__title {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    padding-top: 10px;
    color: #FFAE2B;
    text-align: center;
    padding-bottom: 60px;
}

.card__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.service__card {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 60px;
    width: 400px;
    height: 350px;
    border: 2px solid #ACA592;
}

.card__img {}

.card__title {
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 40px;
    color: #FFAE2B;
}

.card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    color: #ACA592;
}

.footer {}